body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 20px auto;
    background-color: rgb(58, 75, 168);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    color: rgb(170, 57, 57);
}

input, button{
    margin: 5px 0;
    padding: 8px;
    font-size: 16px;
}
button{
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: #45a049;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,td{
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th{
    background-color: #eee;
}

.edit, .delete{
    cursor: pointer;
    color: aqua;
    text-decoration: underline;
}

.edi  :hover{
 color: red;
}
